
{% extends 'base.html' %}
{% load static %}
{% block title %}Product Category{% endblock %}

{% block stylesheet %}
{% endblock %}


{% block content %}
<style>
    .fh5co-post-entry article{
    text-align: right !important;

    .navbar-inverse .navbar-nav > .productlist > a{
    color: #fff;
    background-color: #090909;

}

</style>

	<!-- END #fh5co-header -->
	<div class="container">
        <div class="form-group cl-md-4">
            <div style="text-align: center;font-size:30px" class="alert alert-info"><strong>Available Product list</strong></div>
        </div>
	<a href="{% url 'addproduct' %}" class="btn btn-info pull pull-right">Add New Product</a>
	<a href="{% url 'addcategory' %}" class="btn btn-info pull pull-right">Add New Category</a>
	<a href="{% url 'productlist' %}" class="btn btn-info pull pull-right">Available Product List</a>
	<table class="table">
		<thead>
			<tr>
				<th>Category Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for c in category%}
			<tr style="color:#31708f">
				<td>{{c.name}}</td>
                <td><a style="color:#31708f" href="{% url 'updatecategory' c.id %}">Edit</a>||
                    <a style="color:#31708f" href="{% url 'deletecategory' c.id %}">Delete</a>
                </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

{% block script %}
{% endblock %}

