{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block stylesheet %}
{% endblock %}



{% block content %}
<style>
    .fh5co-post-entry article{
    text-align: left !important;

    .navbar-inverse .navbar-nav > .buyerprofile > a{
    color: #fff;
    background-color: #090909;

    .navbar-inverse .navbar-nav > .productlist > a{
    color: #fff;
    background-color: #090909;
}

</style>
	<!-- END #fh5co-header -->
	<div class="container-fluid">
		<div class="row fh5co-post-entry single-entry">
			<article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
				{% if messages %}
					<div class="messages form-group cl-md-4">
						{% for message in messages %}
						<div {% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</div>
						{% endfor %}
					</div>
					{% endif %}
                <div class="form-group cl-md-4">
                    <div style="text-align: center;font-size:30px" class="alert alert-success"><strong>Change Password</strong></div>
                </div>
                    <form action="" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form.as_p }}
						<button>Submit</button>
					</form>
			</article>
		</div>

	</div>
{% endblock %}

{% block script %}
{% endblock %}








