{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}

{% block stylesheet %}
{% endblock %}


{% block content %}
<style>
    .fh5co-post-entry article{
    text-align: right !important;

}

</style>
	<!-- END #fh5co-header -->
	<div class="container-fluid">
		<div class="row fh5co-post-entry single-entry">
			<article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

                <form action="/placeorder/" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="control-label col-sm-3" >Product Name</label>
                        <div class="control-label col-sm-5">
                           <input name="name" class="form-control" value="{{name}}" readonly>
                        </div>
                    </div><br><br>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >Product Price</label>
                        <div class="control-label col-sm-5">
                           <input name="unit_price" class="form-control" value="{{unit_price}}" readonly>
                        </div>
                    </div><br><br>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >Selected Quantity</label>
                        <div class="control-label col-sm-5">
                           <input name="quantity" class="form-control" value="{{quantity}}" readonly>
                        </div>
                    </div><br><br>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >Total Price</label>
                        <div class="control-label col-sm-3">
                           <input class="form-control" name="total_price" value="{{total_price}}" readonly>
                        </div>
                     </div><br><br>
                    <div class="form-group">
                        <label class="control-label col-sm-3" ></label>
                        <div class="control-label col-sm-3">
                            <button name="pid" class="btn btn-info" value="{{pid}}">Place Order</button>
                        </div>
                     </div><br><br>
                </form>
			</article>
		</div>

	</div>
{% endblock %}

{% block script %}
{% endblock %}

